git+https://github.com/m-labs/migen
git+https://github.com/nmigen/nmigen

git+https://github.com/litex-hub/pythondata-software-compiler_rt

git+https://github.com/enjoy-digital/liteeth
git+https://github.com/enjoy-digital/litedram
git+https://github.com/enjoy-digital/litepcie
git+https://github.com/enjoy-digital/litesata
git+https://github.com/enjoy-digital/litesdcard
git+https://github.com/enjoy-digital/liteiclink
git+https://github.com/enjoy-digital/litevideo
git+https://github.com/enjoy-digital/litescope
git+https://github.com/enjoy-digital/litejesd204b

git+https://github.com/litex-hub/pythondata-misc-tapcfg
git+https://github.com/litex-hub/pythondata-cpu-lm32
git+https://github.com/litex-hub/pythondata-cpu-mor1kx
git+https://github.com/litex-hub/pythondata-cpu-picorv32
git+https://github.com/litex-hub/pythondata-cpu-serv
git+https://github.com/litex-hub/pythondata-cpu-vexriscv
git+https://github.com/litex-hub/pythondata-cpu-rocket
git+https://github.com/litex-hub/pythondata-cpu-minerva
git+https://github.com/litex-hub/pythondata-cpu-microwatt
